
# Laravel default ignores
/vendor
/node_modules
/.env
/.idea
/.vscode
/public/hot
/public/storage
/storage/*.key
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.backup

.env
public/storage
public/vendor/
resources/views/vendor/
storage/
vendor/