@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@import url("../../../public/assets/fonts/bootstrapicons/1.13.1/css/bootstrap-icons.css");
@import url("../../../public/assets/fonts/fontawesome6/6.5.2/css/all.min.css");
@import url("../../../public/assets/auth/css/style.css");
@import url("../../../public/assets/auth/css/dark.css");
@import url("../../../public/assets/auth/css/custom.css");
@import url("../../../public/assets/plugins/social-media/css/colors.css");
@import url("../../../public/assets/plugins/social-media/css/social-media.css");
@import url("../../../public/assets/plugins/pnotify/5.2.0/dist/PNotify.css");
@import url("../../../public/assets/plugins/pnotify/5.2.0/dist/BrightTheme.css");
@import url("../../../public/assets/plugins/pnotify/5.2.0/dist/Material.css");
@import url("../../../public/assets/plugins/pnotify/5.2.0/dist/Custom.css");
@import url("../../../public/assets/plugins/pnotify/5.2.0/modules/confirm/PNotifyConfirm.css");
